@use "variables" as *;

main {
    display: flex;
    flex-direction: row;
    height: 100%;

    .calendario-sect {
        flex-grow: 1;
        background: url("/images/petala-rosa-1.svg") no-repeat fixed 4px 52px, url("/images/petala-rosa-2.svg") no-repeat fixed top left 150px, url("/images/petala-marrom-2.svg") no-repeat fixed bottom left, $primary-color ;
        position: relative;

        .petala1-overlay {
            position: absolute;
            top: 0px;
            right: -63px;
            z-index: 10;
            width: 204px;
            height: 215px;
        }

        .petala3-overlay {
            position: absolute;
            bottom: 0px;
            right: -55px;
            z-index: 10;
            width: 157px;
            height: 156px;
        }


    }

    .main-sect {
        position: relative;

        flex-grow: 0.4;
        background-color: $secondary-color;
    }
}